.banner{
    margin-top: 62px;
    height: 55%;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url("/assets/banner.webp");
    /* background-position:  ; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Container in Baneer */
.con{
    background-color: rgba(255, 255, 255, 0.322);
    backdrop-filter: blur(5px);
    padding: 20px;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    bottom: 35px;
    right: 250px;

    border-radius: 20px;
}

.con a{
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3a506b;
    border-radius: 5px;
    transition: 0.3s linear;
}

.con a:hover{
    background: rgb(86, 160, 129);
}

/* Services */
#services{
    padding: 20px;
    width: 100%;
    height: max-content;
    /* background-color: #3a506b; */
}


.box{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards{
    width: 60%;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 30px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(3px);
    margin: auto;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.rect{
    /* height: 100%; */
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 400px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.rect img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.rect img:hover{
    scale: 1.2;
    transform: translateX(20px) translateY(-40px);
}

.box .cards:nth-child(3) img:hover{
    transform: translateX(-20px) translateY(20px);
}

.right{
    /* border: 1px solid black; */
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.right h3{
    font-size: 28px;
}

.right p{
    font-size: 18px;
}

#services h2, #ourWork h2 , #contact h2{
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

/* OUR WORK */

#ourWork{
    padding: 20px;
    height: 100%;
}

/* CONTACT US */
#contact{
    height: max-content;
    padding: 30px;
}

#contact > div{
    display: flex;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    justify-content: flex-end;
}

#contact form{
    padding: 10px;
    width: 40%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

#contact input , button{
    padding: 5px;
    font-size: 18px;
    height: 40px;
}

#contact textarea{
    padding: 5px;
    font-size: 18px;
    resize: none;
}

/* FOOTER */
footer{
    padding: 10px;
    background-color: #a6dcef;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons a{
    color: #3a506b;
    font-weight: bold;
}